<!doctype html>
<html lang="vi">

<head>
  <%- include('../_template/head'); %>

  <title>Quản lí đơn hàng</title>
</head>

<body>
  <%- include('../_template/navbar'); %>

  <div class="container">
    <div class="row">
      <div class="col-12 col-md-3">
        <%- include('../_template/sidebar/driver'); %>
      </div>

      <div class="col-12 col-md-9">
        <h1>Quản lí đơn hàng</h1>

        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Mã ĐH</th>
              <th scope="col">Thông tin</th>
              <th scope="col">Tình trạng</th>
              <th scope="col">Nhận đơn</th>
            </tr>
          </thead>
          <tbody>
            <% for(let order of orders) { %>
              <tr>
                <th scope="row"><%= order.MaSP %></th>
                <td><%= order.TenSP %></td>
                <td>
                  <select class="form-select" style="width: 160px;">
                    <option value="ChuaNhan">Chưa nhận</option>
                    <option value="DangGiao">Đang giao</option>
                    <option value="DaGiaoHang">Đã giao hàng</option>
                  </select>
                </td>
                <td>
                  <a href="#">Nhận đơn</a>
                </td>
              </tr>
            <% } %>
          </tbody>
        </table>

        <!-- <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item active" aria-current="page"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">5</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav> -->
      </div>
    </div>
  </div>

  <%- include('../_template/foot'); %>
</body>

</html>