<!doctype html>
<html lang="vi">

<head>
  <%- include('../_template/head'); %>
  <title>Quản lí hợp đồng</title>
</head>

<body>
  <%- include('../_template/navbar'); %>

  <div class="container">
    <div class="row">
      <div class="col-12 col-md-3">
        <%- include('../_template/sidebar/employee'); %>
      </div>

      <div class="col-12 col-md-9">
        <h1>Quản lí hợp đồng</h1>

        <table class="table">
          <thead>
            <tr>
              <th scope="col">Mã HĐ</th>
              <th scope="col">MST Đối tác</th>
              <th scope="col">Thời hạn</th>
              <th scope="col">Phần trăm hoa hồng</th>
              <th scope="col">Tình trạng HĐ</th>
              <th scope="col">Tuỳ chọn</th>
            </tr>
          </thead>
          <tbody>
            <% for (let contract of list) { %>
            <tr>
              <th scope="row"><%= contract.MaHopDong %></th>
              <td><%= contract.MSTDoiTac %></td>
              <td><%= contract.ThoiHan %></td>
              <td><%= contract.PhanTramHoaHong %></td>
              <td><%= contract.TinhTrangHD %></td>
              <td>
                <div class="row">
                  <div class="col-3">
                    <a href="#">Xem</a>
                  </div>
                  <div class="col-8">
                    <a href="#">Gởi thông báo</a>
                  </div>
                </div>
              </td>
            <% } %>
            </tr>
          </tbody>
        </table>

        <!-- <nav aria-label="...">
          <ul class="pagination justify-content-end">
            <li class="page-item disabled">
              <span class="page-link">Previous</span>
            </li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#">Next</a>
            </li>
          </ul>
        </nav> -->
      </div>
    </div>
  </div>

  <%- include('../_template/foot'); %>
</body>

</html>