<!doctype html>
<html lang="vi">

<head>
  <%- include('../_template/head'); %>
  <title>Quản lí hợp đồng</title>
</head>

<body>

  <h2 class="card-title mt-5 text-center">Quản lí hợp đồng</h2>
    <div class="container mt-5" style="max-width: 800px;">

      <table class="table">
        <thead>
          <tr>
            <th>MST Nhan Vien</th>
            <th>TenNV</th>
            <th>NgaySinhNV</th>
            <th>DiaChiNV</th>
            <th>TenTKNH</th>
            <th>SoTKNH</th>
            <th>EmailNV</th>
            <th>DienThoaiNV</th>
            <th>GioiTinhNV</th>
          </tr>
        </thead>
        <tbody>
          <% for (let employee of list) { %>
            <tr>
              <td scope="row"> <%= employee.MSTNhanVien %></td>
              <td><%= employee.TenNV %></td>
              <td><%= employee.NgaySinhNV %></td>
              <td><%= employee.DiaChiNV %></td>
              <td><%= employee.TenTKNH %></td>
              <td><%= employee.SoTKNH %></td>
              <td><%= employee.EmailNV %></td>
              <td><%= employee.DienThoaiNV %></td>
              <td><%= employee.GioiTinhNV %></td>
            </tr>
          <% } %>
        </tbody>
      </table>


      <nav aria-label="...">
        <ul class="pagination justify-content-end">
          <li class="page-item disabled">
            <span class="page-link">Previous</span>
          </li>
          <li class="page-item active"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
    </div>

  <%- include('../_template/foot'); %>
</body>

</html>