<!doctype html>
<html lang="vi">

<head>
  <%- include('../_template/head'); %>

  <title>Trang chủ</title>
</head>

<body>
  <%- include('../_template/navbar'); %>

  <div class="container">
    <div class="row">
      <div class="col-12 col-md-3">
        <% if (currentUser.role === "Admins") { %>
          <%- include('../_template/sidebar/admin'); %>
        <% } %>
        <% if (currentUser.role === "DoiTac") { %>
          <%- include('../_template/sidebar/partner'); %>
        <% } %>
        <% if (currentUser.role === "NhanVien") { %>
          <%- include('../_template/sidebar/employee'); %>
        <% } %>
        <% if (currentUser.role === "KhachHang") { %>
          <%- include('../_template/sidebar/customer'); %>
        <% } %>
        <% if (currentUser.role === "TaiXe") { %>
          <%- include('../_template/sidebar/driver'); %>
        <% } %>
      </div>

      <div class="col-12 col-md-9">
        <h1>Hi, <%= currentUser.username %></h1>
        <ul>
          <li>Loại tài khoản : <%= currentUser.role %></li>
          <li><a href="/auth/logout">Đăng xuất</a></li>
        </ul>
      </div>
    </div>
  </div>

  <%- include('../_template/foot'); %>
</body>

</html>