<!doctype html>
<html lang="vi">

<head>
  <%- include('../_template/head'); %>
</head>

<body>
  <div class="container">
    <h1><%= message %></h1>
    <h2><%= error.status %></h2>
    <pre><%= error.stack %></pre>
  </div>

  <%- include('../_template/foot'); %>
</body>

</html>
