<!doctype html>
<html lang="vi">

<head>
  <%- include('../_template/head'); %>

  <title>Thông tin hợp đồng</title>
</head>

<body>
  <div class="container">
    <h1>Thông tin hợp đồng</h1>

    <form method="post" action="/partner/contract">
      <div class="mb-3">
        <label for="MaHopDong" class="form-label">Mã hợp đồng</label>
        <input
          type="text"
          class="form-control"
          id="MaHopDong"
          name="MaHopDong"
          placeholder="Mã hợp đồng"
          required
        >
      </div>

      <div class="mb-3">
        <label for="MSTDoiTac" class="form-label">Đối tác</label>
        <select class="form-select" id="MSTDoiTac" name="MSTDoiTac" required>
          <% for (let partner of partners) { %>
            <option value="<%= partner.MSTDoiTac %>"><%= partner.TenDoiTac %></option>
          <% } %>
        </select>
      </div>

      <div class="mb-3">
        <label for="MSTNhanVien" class="form-label">Nhân viên</label>
        <select class="form-select" id="MSTNhanVien" name="MSTNhanVien" required>
          <% for (let employee of employees) { %>
            <option value="<%= employee.MSTNhanVien %>"><%= employee.TenNV %></option>
          <% } %>
        </select>
      </div>

      <div class="mb-3">
        <label for="ThoiHan" class="form-label">Thời hạn</label>
        <input
          type="date"
          class="form-control"
          id="ThoiHan"
          name="ThoiHan"
          placeholder="Thời hạn"
          required
        >
      </div>

      <div class="mb-3">
        <label for="PhanTramHoaHong" class="form-label">Phần trăm hoa hồng</label>
        <input
          type="number"
          class="form-control"
          id="PhanTramHoaHong"
          name="PhanTramHoaHong"
          placeholder="Phần trăm hoa hồng"
          required
        >
      </div>

      <div class="mb-3">
        <label for="TinhTrangHD" class="form-label">Tình trạng</label>
        <select class="form-select" id="TinhTrangHD" name="TinhTrangHD" required>
          <option value="0">Chưa duyệt</option>
          <option value="1">Đã duyệt</option>
        </select>
      </div>

      <button type="submit" class="btn btn-primary">Lập hợp đồng</button>
    </form>
  </div>

  <%- include('../_template/foot'); %>
</body>

</html>
