<!doctype html>
<html lang="vi">

<head>
  <%- include('../_template/head'); %>
  <title>Danh sách đơn hàng</title>
</head>

<body>
  <%- include('../_template/navbar'); %>

  <div class="container">
    <div class="row">
      <div class="col-12 col-md-3">
        <%- include('../_template/sidebar/customer'); %>
      </div>

      <div class="col-12 col-md-9">
        <h1>Danh sách đơn hàng (<%= orders.length %>)</h1>

        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Mã ĐH</th>
              <th scope="col">Mã KH / Tên KH</th>
              <th scope="col">Phí vận chuyển</th>
              <th scope="col">Tổng tiền</th>
              <th scope="col">Thanh toán</th>
              <th scope="col">Ngày đặt hàng</th>
              <th scope="col">Thao tác</th>
            </tr>
          </thead>
          <tbody>
            <% for(let order of orders) { %>
              <tr>
                <td><%= order.MaDH %></td>
                <td>
                  <%= order.MaKH %><br />
                  <%= order.HoTenKH %>
                </td>
                <td>
                  <%= new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(order.PhiVC) %>
                </td>
                <td>
                  <%= new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(order.TongTien) %>
                </td>
                <td>
                  <% if (order.HinhThucTT) { %>
                    <span>COD</span>
                  <% } else { %>
                    <span>Bank</span>
                  <% } %>
                </td>
                <td><%= dayjs(order.NgayDatHang).format("DD-MM-YYYY") %></td>
                <td>
                  <a href="/customer/create-order-details/<%= order.MaDH %>">Thêm sản phẩm</a>
                  <br />
                  <a href="/customer/order-details/<%= order.MaDH %>">Xem chi tiết</a>
                </td>
              </tr>
            <% } %>
          </tbody>
        </table>

        <!-- <nav aria-label="...">
          <ul class="pagination justify-content-end">
            <li class="page-item disabled">
              <span class="page-link">Previous</span>
            </li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#">Next</a>
            </li>
          </ul>
        </nav> -->
      </div>
    </div>
  </div>

  <%- include('../_template/foot'); %>
</body>

</html>