<!doctype html>
<html lang="vi">

<head>
  <%- include('../_template/head'); %>
  <title>Xem tình trạng đơn hàng</title>
</head>

<body>
    <h2 class="card-title mt-5 text-center">Xem tình trạng đơn hàng</h2>
    
    <div class="container mt-5" style="max-width: 1200px;">

      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">Mã ĐH</th>
            <th scope="col">Phí vận chuyển</th>
            <th scope="col">Địa chỉ giao hàng</th>
            <th scope="col">Ngày đặt hàng</th>
          </tr>
        </thead>
        <tbody>
          <% list.forEach(order => { %> 
          <tr>
            <td> <%= order.MaDH %></td>
            <td> <%= order.PhiVC %></td>
            <td> <%= order.DiaChiGiaoHang %></td>
            <td> <%= order.NgayDatHang %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    
      <nav aria-label="...">
        <ul class="pagination justify-content-end">
          <li class="page-item disabled">
            <span class="page-link">Previous</span>
          </li>
          <li class="page-item active"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>

    </div>

  <%- include('../_template/foot'); %>
</body>

</html>